[submodule "msr-vtt/captioning/coco-caption"]
	path = msr-vtt/captioning/coco-caption
	url = https://github.com/ruotianluo/coco-caption.git
[submodule "msr-vtt/captioning/cider"]
	path = msr-vtt/captioning/cider
	url = https://github.com/hwang1996/cider.git
[submodule "msr-vtt/meta_concept_loc/SceneGraphParser"]
	path = msr-vtt/meta_concept_loc/SceneGraphParser
	url = https://github.com/vacancy/SceneGraphParser.git
[submodule "meta_concept_loc/SceneGraphParser"]
	path = meta_concept_loc/SceneGraphParser
	url = https://github.com/vacancy/SceneGraphParser
